#modal{
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, .95);
    top: 0;
    left: 0;
    padding: 0 10px;
}

#modal .fechar_modal{
    font-size: 40px;
    position: absolute;
    right: 20px;
    cursor: pointer;
    transition: ease-in-out .2s;
    margin: 10px 0;
    color: #757575;
}

#modal .fechar_modal:hover{
    color: #fff;
}

#modal h1{
    font-size: 1.8em;
    margin: 30px auto;
    width: 80%;
}

#modal .container{
    display: flex;
    justify-content: center;
}

#modal .container form{
    text-align: left;
    min-width: 70%;
}

#modal .container form input, textarea{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#modal .container form textarea{
    height: 200px;
}

#enviar_email{
    height: 40px !important;
    background-color: #20bd01;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

#enviar_email:disabled{
    background-color: #0a3b00;
    cursor: auto;
}

#enviar_email:disabled:hover{
    background-color: #0a3b00;
}

#enviar_email:hover{
    background-color: #2bff00;
}

#enviar_email:active{
    background-color: #0e5500;
}

.mensagem_envio{
    position: fixed;
    top: 10px;
    color: white;
    left: 25%;
    min-width: 50%;
    margin: 0 auto;
    line-height: 40px;
    font-weight: bold;
}


.envioSucesso {
    background-color: rgb(58, 182, 0);
    border: 5px solid #0e5500;
}

.envioFalha {
    background-color: rgb(182, 0, 0);
    border: 5px solid #550000;
}

@media (max-width: 550px){

    #modal h1{
    font-size: 1.5em;
    margin: 30px auto;
    width: 80%;
}

    .mensagem_envio{
    min-width:100%;
    left: 0;
}  
}
