.App{
    position: relative;
}

header h1 {
    color: #fff;
    text-align: center;
    text-shadow: 3px 2px 15px rgb(8, 87, 1);
}


#editItem{
    width: 60%;
    margin: 0 auto;
    color: rgb(12, 255, 12);
}