* {
    box-sizing: border-box;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: linear-gradient( rgb(8, 87, 1), rgb(12, 255, 12));
    background-size: cover;
    height: 100vh;
}